body {
  margin: 0px;
  padding: 0px;
  background-color: #596e79;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}

/* MOBILE */

@media (max-width: 799px) {
  /* INTRODUCTION */
  .name {
    font-weight: 600;
    color: white;
    font-size: 4rem;
    line-height: 1.1;
  }
  .skill {
    font-weight: 600;
    color: lightgrey;
    font-size: 2.5rem;
    line-height: 1.1;
  }
  /* ABOUT */
  .about-paragraph {
    color: lightgray;
    width: 90%;
    line-height: 1.3;
    font-size: 20px;
  }
  .verticalLine {
    visibility: hidden;
  }
  .rightVerticalLine {
    visibility: hidden;
  }
  .intro-btn {
    font-size: 1.5rem;
    width: 50%;
  }
  .projectIMG {
    position: relative;
    visibility: hidden;
    width: 0;
    padding: 25px;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* DESKTOP */

@media screen and (min-width: 800px) {
  /* INTRODUCTION */
  .name {
    font-weight: 600;
    color: white;
    font-size: 80px;
    line-height: 1.1;
  }
  .skill {
    font-weight: 600;
    color: lightgrey;
    font-size: 60px;
    line-height: 1.1;
  }
  /* ABOUT */
  .about-paragraph {
    color: lightgray;
    width: 55%;
    line-height: 1.3;
    font-size: 20px;
  }
  /* PROJECTS */
  .verticalLine {
    visibility: visible;
  }
  .rightVerticalLine {
    visibility: visible;
  }
  .projectIMG {
    visibility: visible;
    width: 50%;
    height: 20%;
    padding: 25px;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* NAVBAR */

.nav-link {
  font-size: 1.25rem;
  padding: 10px;
  margin: 0;
  color: white;
  counter-increment: item 1;
}

.nav-link:hover {
  color: lightgrey;
}

.navNumbers::before {
  content: "0" counter(item) ".";
  text-align: right;
  color: #64ffdb;
  font-size: 12px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

/* INTRODUCTION */

.jumbotron {
  margin: 5% auto;
  padding-left: 0px;
  background-color: transparent;
}

.introduction {
  color: #64ffdb;
  font-size: 16px;
  font-weight: normal;
}

.intro-paragraph {
  color: lightgray;
  line-height: 1.3;
  font-size: 20px;
}

.intro-btn {
  font-size: 1.5rem;
  width: 40%;
}

/* ABOUT ME */

.about-me {
  color: white;
  font-weight: normal;
}

.about-line {
  counter-increment: item 1;
}

.about_skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  overflow: hidden;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
  color: lightgrey;
}

.currentSkills {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
}

.currentSkills::before {
  content: "๐";
  position: absolute;
  left: 0px;
  color: #64ffdb;
  font-size: 14px;
  line-height: 12px;
}

/* PROJECTS */

.project {
  text-align: right;
  position: relative;
  z-index: 2;
}

.projects {
  margin-bottom: 30%;
}

.featuredText {
  margin-top: 5%;
  color: #64ffdb;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
}

.featuredTitle {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-align: right;
}

.featuredText1 {
  margin-top: 5%;
  color: #64ffdb;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.featuredTitle1 {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
}

.project-paragraph {
  background-color: #222831;
  box-shadow: 10px 10px #eeeeee;
  border-radius: 3px;
  text-align: right;
  padding: 25px;
  float: right;
  width: 99%;
  color: white;
}

.project-paragraph1 {
  background-color: #222831;
  box-shadow: 10px 10px #eeeeee;
  border-radius: 3px;
  text-align: left;
  padding: 25px;
  float: left;
  width: 99%;
  margin-bottom: 15%;
  color: white;
}

/* LEFT SIDE */

.github, .linkedin {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  list-style: none;
  font-size: 1.5rem;
  color: white;
}

.github:hover {
  color: lightgrey;
}

.linkedin:hover {
  color: lightgrey;
}

.dxVzdv {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #a8b2d1;
}

.verticalLine::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.email {
  font-size: 12px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 20px auto;
  padding: 10px;
  color: white;
}

.email:hover {
  color: lightgrey;
}

.lineRight {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.emailCenter {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #a8b2d1;
}

.rightVerticalLine::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
  float: right;
}

/* CONTACT */

.contact_me {
  text-align: center;
  color: white;
  font-weight: normal;
  margin: 0px 0px 20px;
  font-size: 60px;
  font-weight: 600;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.num1::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  bottom: 4px;
}

.num2::before {
  counter-increment: section 2;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-weight: normal;
  color: rgb(100, 255, 218);
  font-size: 20px;
  position: relative;
  bottom: 4px;
}

.num3::before {
  counter-increment: section 3;
  content: "0" counter(section) ".";
  text-align: right;
  color: #64ffdb;
  font-size: 16px;
}

.contactView {
  margin-bottom: 10%;
}

.contact {
  color: rgb(100, 255, 218);
  font-size: 16px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  text-align: center;
}

.contactParagraph {
  color: lightgray;
  margin: auto;
  text-align: center;
  width: 50%;
}

.contact_btn {
  margin-top: 25px;
  width: 20%;
}